# unity project
test/
PhysRL/
unity_project/Temp/
unity_project/Library/metadata/
unity_project/Library/StateCache/
unity_project/Library/ScriptAssemblies/
unity_project/Library/ShaderCache/

# vscode
.vscode/

# vim backup files
*~

# python compiled 
*pyc

# ros build
build/
devel/
