# unity project
unity/Temp/
unity/Library/ShaderCache/
unity_project/Temp/
unity_project/Library/ShaderCache/

# vscode
.vscode/

# vim backup files
*~

# python compiled 
*pyc

# ros build
build/
devel/
